.fp-flow-container-inner {
    height: 100%;
    position: relative;
    background: #222;
    z-index: 7;
}

.fp-flow-node {
    cursor: pointer;
    position: absolute;
    z-index: 9;
}

.line-canvas {
    position: absolute;
    z-index: 8;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.fp-flow-container::-webkit-scrollbar {
    display: none;
}

.fp-flow-container {
    overflow: scroll;
}