body {
    height: 100vh;
    margin: 0;
}

.fpc {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.control {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.control .btn {
    margin-left: 16px;
}

.fp-flow-container {
    flex-grow: 1;
}

.fp-flow-node {
    background: #2f9170;
    padding: 16px;
    border-radius: 6px;
}